<a href="https://colab.research.google.com/github/Nerebos/Inmsersion-de-datos/blob/main/Desafios_Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Promedio de área de todos los inmuebles en los barrios en el dataset. El top 10.

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/inmuebles_bogota.csv') 
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [3]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns=columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
1921,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,86,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1638,Apartamento,Apartamento en venta en Suba,3,2,103,Suba,Suba,$ 530.000.000
3894,Apartamento,Apartamento en venta en Chapinero,2,3,104,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,$ 895.000.000
5615,Apartamento,Apartamento en venta en Engativa,3,2,70,Engativa,Engativá,$ 298.500.000
6020,Apartamento,Apartamento en venta en Metropolis,3,2,80,Metropolis,Las Ferias,$ 353.000.000
4952,Apartamento,Apartamento en venta en Fontibón,1,2,44,Fontibón,Fontibón,$ 260.000.000
4812,Apartamento,Apartamento en venta en Usaquén,3,2,63,Usaquén,Usaquén,$ 270.000.000
2470,Apartamento,Apartamento en venta en Zona Noroccidental,3,4,196,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 998.000.000
2898,Casa,Casa en venta en Barrios Unidos,3,5,650,Barrios Unidos,Los Andes,$ 1.500.000.000
1180,Apartamento,Apartamento en venta en Zona Noroccidental,2,1,38,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 168.000.000

In [10]:
inmuebles_barrio = inmuebles.Barrio.value_counts()
inmuebles_barrio

Usaquén               1105
Zona Noroccidental     877
Bosa                   589
Kennedy                589
Cedritos               554
                      ...
Colinas De Suba          1
La Estanzuela            1
Roma                     1
Alameda                  1
Prado Veraniego          1
Name: Barrio, Length: 149, dtype: int64

In [24]:
inmuebles_barrio1 = inmuebles_barrio[0:10]
inmuebles_barrio1
sum(inmuebles_barrio1)

5862

In [26]:
inmuebles_test1 = inmuebles[inmuebles.Barrio == 'Usaquén']
inmuebles_test2 = inmuebles[inmuebles.Barrio == 'Zona Noroccidental']
inmuebles_test3 = inmuebles[inmuebles.Barrio == 'Bosa']
inmuebles_test4 = inmuebles[inmuebles.Barrio == 'Kennedy']
inmuebles_test5 = inmuebles[inmuebles.Barrio == 'Cedritos']
inmuebles_test6 = inmuebles[inmuebles.Barrio == 'Barrios Unidos']
inmuebles_test7 = inmuebles[inmuebles.Barrio == 'Engativa']
inmuebles_test8 = inmuebles[inmuebles.Barrio == 'Suba']
inmuebles_test9 = inmuebles[inmuebles.Barrio == 'Santa Barbara']
inmuebles_test10 = inmuebles[inmuebles.Barrio == 'Chapinero']

In [33]:
Area_to = inmuebles_test1.Area.mean() + inmuebles_test2.Area.mean() + inmuebles_test3.Area.mean() + inmuebles_test4.Area.mean() + inmuebles_test5.Area.mean() + inmuebles_test6.Area.mean() + inmuebles_test7.Area.mean() + inmuebles_test8.Area.mean() + inmuebles_test9.Area.mean() + inmuebles_test10.Area.mean()
Area_to

1354.1268276464984

In [34]:
Area_prom = Area_to / 10
Area_prom

135.41268276464984

Consultar otros datos estadísticos, conteo, mediana, valores mínimo y máximo.

In [35]:
inmuebles.describe()

       Habitaciones        Banos           Area
count   9520.000000  9520.000000    9520.000000
mean       3.072479     2.447899     146.664706
std        2.049856     1.255314    1731.379622
min        1.000000     0.000000       2.000000
25%        2.000000     2.000000      57.000000
50%        3.000000     2.000000      80.000000
75%        3.000000     3.000000     135.000000
max      110.000000     9.000000  166243.000000

In [36]:
inmuebles_test1.describe()

       Habitaciones        Banos         Area
count   1105.000000  1105.000000  1105.000000
mean       2.813575     2.754751   134.046154
std        1.097426     1.106853   215.719357
min        1.000000     1.000000    24.000000
25%        2.000000     2.000000    70.000000
50%        3.000000     2.000000    93.000000
75%        3.000000     3.000000   154.000000
max       12.000000     7.000000  6364.000000

In [37]:
inmuebles_test2.describe()

       Habitaciones       Banos         Area
count    877.000000  877.000000   877.000000
mean       3.167617    2.513113   135.785633
std        1.731510    1.279046   223.813808
min        1.000000    1.000000    16.000000
25%        3.000000    2.000000    61.000000
50%        3.000000    2.000000    78.000000
75%        3.000000    3.000000   120.000000
max       32.000000    9.000000  5458.000000

In [38]:
inmuebles_test3.describe()

       Habitaciones       Banos         Area
count    589.000000  589.000000   589.000000
mean       2.959253    1.339559    59.217317
std        1.066674    0.826936    59.519221
min        2.000000    0.000000    31.000000
25%        3.000000    1.000000    47.000000
50%        3.000000    1.000000    47.000000
75%        3.000000    1.000000    53.000000
max       12.000000    9.000000  1100.000000

In [39]:
inmuebles_test4.describe()

       Habitaciones       Banos        Area
count    589.000000  589.000000  589.000000
mean       3.651952    2.093379  104.371817
std        2.048581    1.410519  100.817151
min        1.000000    1.000000   28.000000
25%        3.000000    1.000000   49.000000
50%        3.000000    2.000000   60.000000
75%        3.000000    2.000000   98.000000
max       14.000000    9.000000  970.000000

In [40]:
inmuebles_test5.describe()

       Habitaciones       Banos        Area
count    554.000000  554.000000  554.000000
mean       2.631769    2.433213   96.951264
std        0.902960    0.833335   47.605022
min        1.000000    1.000000   27.000000
25%        2.000000    2.000000   69.000000
50%        3.000000    2.000000   87.000000
75%        3.000000    3.000000  108.750000
max        6.000000    6.000000  516.000000

In [41]:
inmuebles_test6.describe()

       Habitaciones       Banos         Area
count    473.000000  473.000000   473.000000
mean       3.224101    2.528541   185.621564
std        1.798213    1.265468   653.452408
min        1.000000    1.000000    28.000000
25%        2.000000    2.000000    62.000000
50%        3.000000    2.000000    87.000000
75%        3.000000    3.000000   143.000000
max       16.000000    9.000000  8884.000000

In [42]:
inmuebles_test7.describe()

       Habitaciones       Banos         Area
count    462.000000  462.000000   462.000000
mean       3.627706    2.331169   129.454545
std        2.060877    1.169321   310.736661
min        1.000000    1.000000    21.000000
25%        3.000000    2.000000    54.000000
50%        3.000000    2.000000    71.000000
75%        4.000000    3.000000   118.000000
max       18.000000    8.000000  4600.000000

In [43]:
inmuebles_test8.describe()

       Habitaciones       Banos         Area
count    443.000000  443.000000   443.000000
mean       3.379233    2.713318   139.085779
std        1.662937    1.464969   151.424045
min        1.000000    1.000000    34.000000
25%        3.000000    2.000000    62.000000
50%        3.000000    2.000000    88.000000
75%        4.000000    3.000000   146.000000
max       16.000000    9.000000  1996.000000

In [44]:
inmuebles_test9.describe()

       Habitaciones       Banos         Area
count    438.000000  438.000000   438.000000
mean       2.449772    2.652968   124.869863
std        1.506959    1.123140   100.154818
min        1.000000    0.000000    30.000000
25%        2.000000    2.000000    66.000000
50%        2.000000    3.000000    89.000000
75%        3.000000    3.000000   157.750000
max       22.000000    7.000000  1080.000000

In [45]:
inmuebles_test10.describe()

       Habitaciones       Banos          Area
count    332.000000  332.000000    332.000000
mean       2.686747    2.750000    244.722892
std        2.173322    1.268072   1229.732676
min        1.000000    1.000000     15.000000
25%        2.000000    2.000000     70.000000
50%        2.000000    3.000000    110.000000
75%        3.000000    3.000000    190.500000
max       20.000000    9.000000  15920.000000