<a href="https://colab.research.google.com/github/Nerebos/Inmsersion-de-datos/blob/main/Desafios_Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Promedio de área de todos los inmuebles en los barrios en el dataset. El top 10.

In [1]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/inmuebles_bogota.csv') 
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [3]:
columnas = {'Baños':'Banos','Área':'Area'}
inmuebles = inmuebles.rename(columns=columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
1921,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,86,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1638,Apartamento,Apartamento en venta en Suba,3,2,103,Suba,Suba,$ 530.000.000
3894,Apartamento,Apartamento en venta en Chapinero,2,3,104,Chapinero,CHAPINERO: Pardo Rubio + Chapinero,$ 895.000.000
5615,Apartamento,Apartamento en venta en Engativa,3,2,70,Engativa,Engativá,$ 298.500.000
6020,Apartamento,Apartamento en venta en Metropolis,3,2,80,Metropolis,Las Ferias,$ 353.000.000
4952,Apartamento,Apartamento en venta en Fontibón,1,2,44,Fontibón,Fontibón,$ 260.000.000
4812,Apartamento,Apartamento en venta en Usaquén,3,2,63,Usaquén,Usaquén,$ 270.000.000
2470,Apartamento,Apartamento en venta en Zona Noroccidental,3,4,196,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 998.000.000
2898,Casa,Casa en venta en Barrios Unidos,3,5,650,Barrios Unidos,Los Andes,$ 1.500.000.000
1180,Apartamento,Apartamento en venta en Zona Noroccidental,2,1,38,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 168.000.000

In [10]:
inmuebles_barrio = inmuebles.Barrio.value_counts()
inmuebles_barrio

Usaquén               1105
Zona Noroccidental     877
Bosa                   589
Kennedy                589
Cedritos               554
                      ...
Colinas De Suba          1
La Estanzuela            1
Roma                     1
Alameda                  1
Prado Veraniego          1
Name: Barrio, Length: 149, dtype: int64

In [24]:
inmuebles_barrio1 = inmuebles_barrio[0:10]
inmuebles_barrio1
sum(inmuebles_barrio1)

5862

In [26]:
inmuebles_test1 = inmuebles[inmuebles.Barrio == 'Usaquén']
inmuebles_test2 = inmuebles[inmuebles.Barrio == 'Zona Noroccidental']
inmuebles_test3 = inmuebles[inmuebles.Barrio == 'Bosa']
inmuebles_test4 = inmuebles[inmuebles.Barrio == 'Kennedy']
inmuebles_test5 = inmuebles[inmuebles.Barrio == 'Cedritos']
inmuebles_test6 = inmuebles[inmuebles.Barrio == 'Barrios Unidos']
inmuebles_test7 = inmuebles[inmuebles.Barrio == 'Engativa']
inmuebles_test8 = inmuebles[inmuebles.Barrio == 'Suba']
inmuebles_test9 = inmuebles[inmuebles.Barrio == 'Santa Barbara']
inmuebles_test10 = inmuebles[inmuebles.Barrio == 'Chapinero']

In [33]:
Area_to = inmuebles_test1.Area.mean() + inmuebles_test2.Area.mean() + inmuebles_test3.Area.mean() + inmuebles_test4.Area.mean() + inmuebles_test5.Area.mean() + inmuebles_test6.Area.mean() + inmuebles_test7.Area.mean() + inmuebles_test8.Area.mean() + inmuebles_test9.Area.mean() + inmuebles_test10.Area.mean()
Area_to

1354.1268276464984

In [34]:
Area_prom = Area_to / 10
Area_prom

135.41268276464984

Consultar otros datos estadísticos, conteo, mediana, valores mínimo y máximo.

In [ ]:
len